<?php

	define("ROOT_DIR", dirname(__FILE__));
	define('DB_HOST', '');
	define('DB_NAME', '');
	define('DB_USERNAME', '');
	define('DB_PASSWORD', '');
	define('HTTPS_URL', 'http://localhost');
	define('ADMIN_SESSION_TIMEOUT_IN_SECONDS', 3600);
